/*** Normalize and Reset ***/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*** END of Normalize and Reset ***/

/* Global variables (optional) */
:root {
	/* Primary Palette */
	--ez-color-primary: #8655b6;
	--ez-color-secondary: #34627b;
	--ez-color-tertiary: #17aee8;
	--ez-color-accent: #cc6699;
	--ez-color-complement: #fcec52;
	--ez-color-contrast: #c3b9c8;

	/* Backgrounds and Borders */
	--ez-color-background-primary: #252b2c;
	--ez-color-background-secondary: #2d3e43;
	--ez-color-background-tertiary: #8c888e;
	--ez-color-background-accent: #fbe2c4;
	--ez-color-background-complement: #3f3f3f;
	--ez-color-background-contrast: #f2f2f2;

	--ez-color-border-primary: #000000;
	--ez-color-border-shadow: #3f3f3f;
	--ez-color-border-contrast: #f2f2f2;

	/* Text */
	--ez-color-text-primary: #000000;
	--ez-color-text-secondary: #2d3e43;
	--ez-color-text-tertiary: #660000;
	--ez-color-text-accent: #cc6699;
	--ez-color-text-complement: #c9ad6a;
	--ez-color-text-contrast: #ffffff;

	/* Rainbow Colors */
	--ez-rainbow-red: #ff0000;
	--ez-rainbow-orange: #ffa500;
	--ez-rainbow-yellow: #ffff00;
	--ez-rainbow-olive: #808000;
	--ez-rainbow-green: #008000;
	--ez-rainbow-teal: #008080;
	--ez-rainbow-blue: #0000ff;
	--ez-rainbow-violet: #ee82ee;
	--ez-rainbow-purple: #800080;
	--ez-rainbow-pink: #ffc0cb;
	--ez-rainbow-brown: #a52a2a;
	--ez-rainbow-grey: #808080;
	--ez-rainbow-black: #000000;

	/* Typography Constants */
	--ez-line-height: 1.6;
	--ez-font-weight: 400;
	--ez-font-size: 62.5%;

	/* NOTE as of now only use single quotes in css values as they will eventually be inserted into double quoted html tags. */
	--ez-font-family-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--ez-font-family-serif: 'Times New Roman', Times, Garamond, serif, var(--ez-font-family-emoji);
	--ez-font-family-sans-serif: Ubuntu, Cantarell, Helvetica, Arial, 'Helvetica Neue', sans-serif, var(--ez-font-family-emoji);
	--ez-font-family-monospace: Consolas, monospace;

	/* Layout */
	--ez-block-padding: 5px 10px;
	--ez-block-margin: .5em 0em;
	--ez-block-radius: 5px;

	-webkit-font-smoothing: antialiased;
	line-height: var(--ez-line-height);
	isolation: isolate;

	/* Handout background images*/
	--ez-handout-page-top: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-top.jpg');
	--ez-handout-page-bottom: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-bottom.jpg');
	--ez-handout-page-middle: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-body.jpg');
	/* Block quote background images*/
	--ez-handout-blockquote-top: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-blockquote-wide-top.jpg');
	--ez-handout-blockquote-bottom: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-blockquote-wide-bottom.jpg');
	--ez-handout-blockquote-middle: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-blockquote-wide-middle.jpg');
	/* Table or ornament background images*/
	--ez-handout-table-top: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-table-top.jpg');
	--ez-handout-table-bottom: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-table-bottom.jpg');
	--ez-handout-table-middle: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-table-middle.jpg');
	/* Horizontal rulers images*/
	--ez-handout-page-horizontal-center: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-horizontal-center.png');
	--ez-handout-page-horizontal-dart: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-horizontal-dart.png');
	/* List Bullets */
	--ez-handout-page-bullet-list: url('https://raw.githubusercontent.com/tougher-together-games/default-game-assets/refs/heads/main/handouts/themes/black-n-gold/handout-page-list-bullet.png');

	/* handout container offset */
	--ez-handout-container-offset: 0px;

	display: block;
	position: relative;
	margin: var(--ez-handout-container-offset);
	padding: 97px 30px 97px 30px;
	background:
		var(--ez-handout-page-top) top center no-repeat,
		var(--ez-handout-page-bottom) bottom center no-repeat,
		var(--ez-handout-page-middle) center repeat;

	/* Background sizes */
	background-size:
		100% 97px,
		100% 97px,
		100% auto;
}

.hidden {
	display: none;
}

/*** Inline Text ***/

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
	color: var(--ez-color-text-tertiary);
	font-family: var(--ez-font-family-serif);
	font-weight: bold;
	/*font-variant: small-caps; FIXME */
	text-transform: uppercase;
}

h1 {
	font-size: 42px;
	text-align: center;
}

h2 {
	font-size: 28px;
}

h3 {
	padding-bottom: .2em;
	border-bottom: 5px solid var(--ez-color-text-complement);
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	color: var(--ez-color-text-complement);
	font-size: 16px;
}

/* Horizontal Rules */
hr.underscore-hr {
	margin: 1em 0;
	border: 2px solid var(--ez-color-text-tertiary);
}

hr.dash-hr {
	display: block;
	width: 100%;
	height: 15px;
	border: none;
	background-color: transparent;
	background-image: var(--ez-handout-page-horizontal-dart);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

hr.asterisk-hr {
	display: block;
	width: 100%;
	height: 30px;
	border: none;
	background-color: transparent;
	background-image: var(--ez-handout-page-horizontal-center);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Text */

p {
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 1.6;
	text-indent: 10px;
}

p::first-letter {
	display: inline-block;
	margin-right: .2em;
	padding: 5px 10px;
	border: 2px solid var(--ez-color-border-contrast);
	color: var(--ez-color-text-complement);
	font-weight: bold;
	font-size: 2.5em;
	font-family: monospace;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	background-color: rgb(31, 36, 58);
}

/* Bold & Italic Styling */
.asterisk-strong {
	margin: 0px 3px;
	padding: 2px 2px;
	font-weight: bold;
}

.underscore-strong {
	margin: 0px 3px;
	padding: 2px 3px;
	border-radius: 3px;
	font-weight: bold;
	background-color: var(--ez-color-background-accent);
}

.asterisk-em {
	padding: 2px 3px;
	font-style: italic;

}

.underscore-em {
	padding: 2px 4px;
	color: var(--ez-color-text-complement);
	font-style: italic;
}

/* Strikethrough */
del {
	color: var(--ez-color-border-shadow);
	text-decoration: line-through;
}

/* Mark */
mark {
	margin: 0px 3px;
	padding: 2px 4px;
	border-radius: 3px;
	color: #000;
	background-color: #ffff99;
}

/* Superscript & Subscript */
sup {
	padding: 2px 4px;
	color: var(--ez-color-text-accent);
	font-size: 0.85em;
	vertical-align: super;
}

sub {
	padding: 2px 4px;
	color: var(--ez-color-text-secondary);
	font-size: 0.85em;
	vertical-align: sub;
}

/* Inline Code */
code.inline-code {
	margin: 0px 3px;
	padding: 2px 4px;
	border-radius: 3px;
	color: var(--ez-color-text-tertiary);
	font-family: var(--ez-font-family-monospace);
	background-color: var(--ez-color-background-contrast);
}

/* Images and Links */
a {
	margin: 0px 3px 3px;
	color: #FF0000;
	text-decoration: underline;
}

a[title="button"] {
	display: inline-block;
	padding: 8px 16px;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #ce0058;
}

/* Lists (UL / OL) */
#rootContainer>ul>li.dash-bullet {
	list-style: none outside var(--ez-handout-page-bullet-list);
	margin-top: -7px;
	/* Adjust as needed for spacing */
}

ul>ul {
	list-style: square inside;
}

ul ul {
	list-style: circle inside;
}

.dash-bullet {
	color: var(--ez-color-text-primary);
}

.asterisk-bullet {
	color: var(--ez-color-text-tertiary);
}

.plus-bullet {
	color: var(--ez-color-text-accent);
}


/*** Generic Positional Classes ***/
/* two column example */
.two-columns {
	display: table;
	width: 100%;
	table-layout: fixed;
	/* Ensures fixed column widths */
}

.column-left,
.column-right {
	display: table-cell;
	width: 50%;
	padding: 1rem;
	vertical-align: top;
	/* Align content at the top of each cell */
}

.float-left {
	float: left;
	clear: both;
}

.float-right {
	float: right;
	clear: both;
}

.half-wide {
	margin: 0px;
	padding: 10px 10px 10px 0;
	width: 50%;
}

.third-wide {
	margin: 0px;
	padding: 10px 10px 10px 0;
	width: 75%;
}

/*** Handout Specific **/
#sizing-guide {
	display: block;
	height: 5px;
	width: 930px;
	background-color: var(--ez-rainbow-red);
	/* For absolute elements reverse the offset of the rootContainer padding. 	padding: 97px 30px 97px 30px; */
	position: absolute;
	top: 0px;
	left: 0px;
}

img[title="page-bookmark"] {
	display: block;
	float: right;
	margin-top: -110px;
	margin-right: 0px;
	width: 100px;
	height: 300px;
}

img[title="bookmark-spacer"] {
	display: inline-block;
	width: 120px;
	height: 120px;
}

/*** Character Bio Portrait ***/
div.portrait-frame {
	display: block;
	position: relative;
	float: left;
	width: 300px;
	height: 500px;
	margin: -109px 15px 10px -240px;
	overflow: hidden;
}

img[title="portrait-image"] {
	display: block;
	width: 300px;
	height: 500px;
	object-fit: cover;
}

img[title="portrait-border"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 500px;
	pointer-events: none;
}

/*** Handout Avatar ***/
div.page-banner {
	display: block;
	position: relative;
	width: 630px;
	height: 260px;
	margin: 0px auto;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: center;
}

img[title="banner-image"] {
	display: block;
	width: 630px;
	height: 260px;
	margin: 0 auto;
}

img[title="banner-border"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 630px;
	height: 260px;
	pointer-events: none;
}

.half-wide>blockquote {
	border: none;
	color: var(--ez-color-border-contrast);
	padding: 48px 35px;
	font-size: 90%;
	background:
		var(--ez-handout-blockquote-top) top center no-repeat,
		var(--ez-handout-blockquote-bottom) bottom center no-repeat,
		var(--ez-handout-blockquote-middle) center repeat;

	/* Background sizes */
	background-size:
		100% 48px,
		100% 48px,
		100% auto;
}

.third-wide>blockquote {
	border: none;
	color: var(--ez-color-border-contrast);
	padding: 48px 35px;
	font-size: 90%;
	background:
		var(--ez-handout-blockquote-top) top center no-repeat,
		var(--ez-handout-blockquote-bottom) bottom center no-repeat,
		var(--ez-handout-blockquote-middle) center repeat;

	/* Background sizes */
	background-size:
		100% 48px,
		100% 48px,
		100% auto;
}

#rootContainer>blockquote {
	border: none;
	color: var(--ez-color-border-contrast);
	padding: 48px 35px;
	font-size: 90%;
	background:
		var(--ez-handout-blockquote-top) top center no-repeat,
		var(--ez-handout-blockquote-bottom) bottom center no-repeat,
		var(--ez-handout-blockquote-middle) center repeat;

	/* Background sizes */
	background-size:
		100% 48px,
		100% 48px,
		100% auto;
}

blockquote>h4 {
	color: var(--ez-color-text-complement);
}

blockquote>blockquote {
	border-left: 3px solid var(--ez-color-text-tertiary);
	margin: 0.5em 1em;
	background-color: rgba(102, 0, 0, 0.2);
}

.half-width>blockquote {
	padding: 48px 22px;
}

.accent-detail {
	padding: 35px 20px;
	background:
		var(--ez-handout-table-top) top center no-repeat,
		var(--ez-handout-table-bottom) bottom center no-repeat,
		var(--ez-handout-table-middle) center repeat;

	/* Background sizes */
	background-size:
		100% 30px,
		100% 30px,
		100% auto;
}

table {
	width: 100%;
	border: 1px solid var(--ez-color-border-shadow);
	border-collapse: collapse;
	font-size: 16px;
}

th,
td {
	padding: 5px 10px;
	border: 1px solid var(--ez-color-border-shadow);
	text-align: left;
}

th {
	color: var(--ez-color-text-complement);
	font-weight: bold;
	background-color: var(--ez-color-background-secondary);
}

tfoot {
	color: var(--ez-overlay-text-color);
	font-weight: bold;
	background-color: var(--ez-color-background-secondary);
}

tr:nth-child(even) {
	background-color: rgba(102, 0, 0, 0.2);
}

/* Target Roll20's injected avatar in character bio */
.charsheet .bio img:first-child,
.dialog.characterviewer img.avatar {
	display: none !important;
	/* or: float: none; position: absolute; left: -9999px; */
}